doctype html
html
  head
    title
    link(rel="stylesheet" href="/css/main.css")
    style.
      #inputForm {
        background: #3B78E7;
        color: white;
        border-radius: 1em;
        padding: 20px;
        position: absolute;
        top: 40%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%) 
      }
body
  div#inputForm(style="")
    h3#roomLabel Enter room id:
    input#roomId(type="text", style="width:500px;height:30px;padding:10px;border:none;font-size:large")
    br
    br
    button#connectBtn(style="font-size:large;margin-left:200px;width:150px;height:50px;background-color:rgb(191, 191, 191);border-radius:5px", autofocus=true) Join Room

  script.
    var randomRoom = Math.floor((Math.random() * 100000) + 99999);
    var roomInput = document.getElementById('roomId');
    var roomLabel = document.getElementById('roomLabel');
    
    document.getElementById('connectBtn').onclick = function() {
        if (roomInput.value != "") {
          var roomId = roomInput.value;   
          window.location.replace("/room/" + roomId);
        } else {
          roomLabel.style.color = "red";
        }
    };
    
    roomInput.value = randomRoom;